<!DOCTYPE html>
<html>
<head>
  <title>camere</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="all" id="css" href="../assets/layoutAdmin.css">

</head>
<body>

<div class="topbar">
  <a href="#bye">Sign Out</a>
</div>

<div class="sidenav">
  <a href="indexAdmin.ejs">Home</a>
  <a href="listStudents.ejs">List of students</a>
  <a href="addStudent.ejs">Add student</a>
  <a href="removeStudent.ejs">Remove student</a>
  <a href="manageRequests.ejs">Manage requests</a>
  <a href="anouncements&events.html">Anouncements & Events</a>
</div>

<div class="main">
  <div class="limiter">
    <br>
    <button class="collapsible">Parter</button>
    <div class="content">
      <br>
      <%if(data1.length) {
        for(var i = 0 ; i < data1.length; i++) {
          if(data1[i].ID < 100){
      %>
      <button class="collapsible2">Camera <%=data1[i].ID%></button>
      <div class="content">
            <%for(var j = 0; j < data1[i].currCapacity; j++){%>
            <p><%=data1[j+i].fName%> <%=data1[j+i].lName%></p>
            <form action="/changeRoom" method="post" class="switchRoomForm">
              <input type="hidden" name="CNP" value="<%=data1[j+i].CNP%>">
              <input type="hidden" name="username" value="<%=data1[j+i].username%>">
              <input type="hidden" name="oldroom" value="<%=data1[j+i].roomNumber%>">
              <input type="hidden" name="currC" value="<%=data1[j+i].currCapacity%>">
              <input type="hidden" name="maxC" value="<%=data1[j+i].maxCapacity%>">
              <input type="text" name="newroom" placeholder="Switch to room...">
              <input type="submit" onclick="resetFunc()" value="submit">
            </form>
            <%}%>
        <p><%=data1[i].comments%></p>
      </div>
      <%} i = i + data1[i].currCapacity - 1} } else {%>
        <button class="collapsible2">NO CONTENT</button><%}%>
      <br>
    </div>
    <button class="collapsible">Etaj 1</button>
    <div class="content">
      <%if(data1.length) {
      for(var i = 0 ; i < data1.length; i++) {
      if(data1[i].ID > 101 && data1[i].ID < 200){
      %>
      <button class="collapsible2">Camera <%=data1[i].ID%></button>
      <div class="content">
        <%for(var j = 0; j <data1[i].currCapacity; j++) {%>
        <p><%=data1[j+i].fName%> <%=data1[j+i].lName%></p>
        <form action="/changeRoom" method="post" class="switchRoomForm">
          <input type="hidden" name="CNP" value="<%=data1[j+i].CNP%>">
          <input type="hidden" name="username" value="<%=data1[j+i].username%>">
          <input type="hidden" name="oldroom" value="<%=data1[j+i].roomNumber%>">
          <input type="hidden" name="currC" value="<%=data1[j+i].currCapacity%>">
          <input type="hidden" name="maxC" value="<%=data1[j+i].maxCapacity%>">
          <input type="text" name="newroom" placeholder="Switch to room...">
          <input type="submit" onclick="resetFunc()" value="submit">
        </form>
        <% } %>
        <p><%=data1[i].comments%></p>
      </div>
      <%} i = i + data1[i].currCapacity - 1} } else {%>
        <button class="collapsible2">NO CONTENT</button><%}%>
      <br>
    </div>
    <button class="collapsible">Etaj 2</button>
    <div class="content">
      <%if(data1.length) {
      for(var i = 0 ; i < data1.length; i++) {
      if(data1[i].ID > 200){
      %>
      <button class="collapsible2">Camera <%=data1[i].ID%></button>
      <div class="content">
        <%for(var j = 0; j < data1[i].currCapacity; j++){%>
        <p><%=data1[j+i].fName%> <%=data1[j+i].lName%></p>
        <form action="/changeRoom" method="post" class="switchRoomForm">
          <input type="hidden" name="CNP" value="<%=data1[j+i].CNP%>">
          <input type="hidden" name="username" value="<%=data1[j+i].username%>">
          <input type="hidden" name="oldroom" value="<%=data1[j+i].roomNumber%>">
          <input type="hidden" name="currC" value="<%=data1[j+i].currCapacity%>">
          <input type="hidden" name="maxC" value="<%=data1[j+i].maxCapacity%>">
          <input type="text" name="newroom" placeholder="Switch to room...">
          <input type="submit" onclick="resetFunc()" value="submit">
        </form>
        <%}%>
        <p><%=data1[i].comments%></p>
      </div>
      <%} i = i + data1[i].currCapacity - 1} } else {%>
        <button class="collapsible2">NO CONTENT</button><%}%>
      <br>
    </div>

  </div>
  <div class="limiter"><br>
    <h1>Post news</h1>
    <textarea name="news" form="newsform" placeholder="Enter text here..."></textarea>
    <form action = "/postNews" method="POST" id="newsform">
      <input type="submit" value="Post">
    </form>
    <br>
    <h3>Previous News</h3>
    <%if(data2.length) {
        for(var i = 0; i < data2.length; i++){
          %>
          <p><%=data2[i].datePosted%></p>
          <p><%=data2[i].text%></p>
          <form action="/delNews" method="post">
            <input type="hidden" name="ID" value="<%=data2[i].id%>">
            <input type="submit" value="Remove">
          </form>
        <%
        }
    } else {%>
      <p>NO CONTENT</p>
    <%}%>
  </div>
</div>

</body>
</html>



<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>

<script>
  var coll = document.getElementsByClassName("collapsible2");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>
<script>
  function resetFunc(){
    document.getElementsByClassName("switchRoomForm").reset();
  }
</script>
